/* First-Section */
.first-section {
  height: 89.8vh;
  background:  radial-gradient(circle, rgba(223, 43, 43, 0.712) 0%, rgba(40, 38, 172, 0.671) 72%, rgba(25,25,28,1) 100%), url(./../img/20787.jpg);
  background-size: cover; 
  display: flex;
  justify-content: space-evenly;
}

.first-section .colum{
  width: calc(50% - 10rem);
  bottom: 0;
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
}

.first-section .colum .buttom{
  text-decoration: none;
  color: #F1ECE9;
  background: #603fd7;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.3rem;
  border: 1px solid transparent;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.first-section .colum .buttom:hover{
  background: #D7443F;
}

.first-section .colum.two{
  text-align: justify;
  align-items: flex-end;
  padding-bottom: 5rem;
}

.first-section .colum p{
  color: #F1ECE9;
  font-weight: 100;
  font-size: 1rem;
}


@media (max-width: 700px){
  /* First-Section */
  .first-section{
    flex-direction: column;
    align-items: center;
  }

  .first-section .colum{
    width: 100%;
    padding: 0 1rem;
  }
}