*{
  outline: none;
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
  background: url(./../img/900.jpg) center;
  background-size: cover;
}

.container{
  background: #F1ECE9;
  width: 800px;
  max-width: 800px;
  padding: 25px 40px 10px 40px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #603fd7;
}

.container form{
  padding: 30px 0;
}

.container form .form-row{
  display: flex;
  margin: 32px 0;
}

.container form .form-row .input-data{
  width: 100%;
  /* height: 400px; */
  margin: 0 20px;
  position: relative;
}

.input-data input{
  display: block;
  width: 100%;
  border: none;
  font-size: 17px;
  background: transparent;
  border-bottom: 2px solid #333A42;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  color: #603fd7;
  font-size: 14px;
}

.input-data label{
  position: absolute;
  top: 4px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  top: 26px;
  height: 2px;
  width: 100%;
}

.input-data .underline::before,
.input-data .underline::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #603fd7;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.input-data input:focus ~ .underline::before, .underline::after,
.input-data input:valid ~ .underline::before, .underline::after{
  transform: scale(1);
}

.input-data input:valid ~ .underline.active::before, .underline.active::after{
  background: #D7443F;
}

.input-data .errorInput{
  display: none;
}

.errorInput.active{
  display: block;
}

.submit-btn .input-data{
  height: 45px !important;
  width: 25% !important;
  border-radius: 6px;
  overflow: hidden;
}

.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  background: #603fd7;
  left: -100%;
  transition: all 0.3s;
}

.submit-btn .input-data:hover .inner{
  left: 0;
}

.submit-btn .input-data input{
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  color: #FFF;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  cursor: pointer;
}

.error-text{
  text-align: center;
  background: #d7443f96;
  padding: 10px 0;
  border-radius: 10px;
  display: none;
}

.error-text.active{
  display: block;
}

@media (max-width: 700px){
  .container .text{
    font-size: 30px;
  }

  .container form{
    padding-top: 10px;
  }

  .container form .form-row{
    display: block;
  }

  form .form-row .input-data{
    margin: 35px 0 !important;
  }

  .submit-btn .input-data{
    width: 40% !important;
  }
}