extends layout/layout.pug

block content
  .index-section
      .index-section_colum: a.index-section_colum_buttom(href="/signup") Request your appointment
      .index-section_colum.two: p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus necessitatibus illo facilis autem quae incidunt labore adipisci animi consequuntur obcaecati. Commodi quod vero unde sequi id consequatur consequuntur laborum. Aliquam.