extends layout/layout.pug

block styles
  link(rel="stylesheet", href="./static/css/index.css")

block content
  .first-section
      .colum: a.buttom(href="/signup") Request your appointment
      .colum.two: p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus necessitatibus illo facilis autem quae incidunt labore adipisci animi consequuntur obcaecati. Commodi quod vero unde sequi id consequatur consequuntur laborum. Aliquam.

block script
  script(src="./static/js/index.js")