html
  head
    title= title
    block styles
      link(rel="stylesheet", href="./static/css/style.css")
  body
    //- Navbar
    include ../partials/navigation.pug

    block content

    script(src="./static/js/index.js")
    block script