.menu
  a.menu_logo(href="/"): img(src="./static/img/icon.png")
  ul.menu_items
    li.menu_items_item: a(href="/signin") Sign In
    li.menu_items_item: a(href="/signup") Sign Up
  .menu_toggle(onclick='menuToggle()'): .menu_toggle_sub: .menu_toggle_sub_FB