extends ../layout/layout.pug

block content
  .sign
    .sign_container
      .sign_container_text Sign Up
<<<<<<< HEAD
      form(action="" id="form")
=======
      form(action="" id="form" method="POST")
>>>>>>> fc1151e138472b3fc131d12d09442dc32f6bfeb2
        .sign_container_row
          .sign_container_row_input
            input(type="text" autocomplete="off" name="userName" required)
            .sign_container_row_input_underline.userName
            label User Name
            p.errorInput.userName the user must be from 4 to 16 digits and can only have numbers, letters and underscore
        .sign_container_row
          .sign_container_row_input
            input(type="password" name="password" required id='firstPass')
            .sign_container_row_input_underline.password
            label password
            p.errorInput.password Password must be 4-12 digits
        .submit-btn.sign_container_row
          .sign_container_row_input
            .sign_container_row_input_inner
              input(type="submit" id='submit' value="Sign In" disabled)
<<<<<<< HEAD
          .sign_container_row_error Badly filled fields
=======
          //- .sign_container_row_error Badly filled fields
>>>>>>> fc1151e138472b3fc131d12d09442dc32f6bfeb2
