extends ../layout/layout.pug

block content
  .body
    .container
      .text Sign Up
      form(action="" id="form")
        .form-row
          .input-data 
            input(type="text" autocomplete="off" name="name" required)
            .underline.name
            label Name
            p(class="errorInput name") the name must be from 4 to 16 digits and can only have numbers, letters and underscore
          .input-data
            input(type="text" autocomplete="off" name="userName" required)
            .underline.userName
            label User Name
            p(class="errorInput userName") the user must be from 4 to 16 digits and can only have numbers, letters and underscore
        .form-row
          .input-data
            input(type="password" name="password" required id='firstPass')
            .underline.password
            label password
            p(class="errorInput password") Password must be 4-12 digits
          .input-data
            input(type="password" name="password2" required id='secondPass')
            .underline.password2
            label confirm password
            p(class="errorInput password2") Passwords must be the same
        .form-row.submit-btn
          .input-data
            .inner
              input(type="submit" id='submit' value="submit" disabled)
          .error-text Badly filled fields